div{
  position: relative;
}
main{
  display: grid;
  place-items: center;
  grid-row-gap: 60px;
  margin-bottom: 5em;
  & > button{
    grid-row: 2 / 3;
  }
}
h1{
  margin: 2em auto 2.5em;
  font-family: 'uppereastsideregular';
  font-size: 52px;
  letter-spacing: 6px;
  text-align: center;
  width: 95%;
  color: #3a3a3a;
  position: relative;
}
span{
  font-size: 1px;
  color: transparent;
}
p{
  height: 1px;
  width: 96.5%;
  position: relative;
  margin: 0 auto 70px;
}
canvas{
  background-color: #154a6a;
  min-width: 410px;
  grid-row: 1 / 2;
}
.helpBtn{
  width: 205px;
  height: 54px;
  border: 2px solid;
  background-position: center;
  background-repeat: no-repeat;
  filter: none;
  border-color: #aaa;
  cursor: pointer;
  outline: none;
}
.one{
  background-image: url('../../assets/images/help.png'), linear-gradient(to bottom, #f6a87a 0%, #a54121 100%);
}
.two{
  background-image: url('../../assets/images/hide.png'), linear-gradient(to bottom, #f6a87a 0%, #a54121 100%);
}
.helpBtn:focus{
  border-color: #154a6a;
}
@keyframes stretch {
  0% {
    transform: translateX(-50%) rotateX(-89deg);
  }
  17% {
    transform: translateX(-50%) rotateX(74deg);
  }
  33% {
    transform: translateX(-50%) rotateX(-48deg);
  }
  50% {
    transform: translateX(-50%) rotateX(33deg);
  }
  67% {
    transform: translateX(-50%) rotateX(0deg);
  }
  100% {
    transform: translateX(-50%) rotateX(0deg);
  }
}
.resetStylesBtn{
  transform-origin: center top 0px;
  background: linear-gradient(41deg, #bf2b1d 16%, #380c00 113%);
  filter: none;
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translateX(-50%) rotateX(0deg);
  cursor: pointer;
  border: none;
  width: 154px;
  height: 54px;
  color: #fbfbfb;
  letter-spacing: 5px;
  font-size: 44px;
  font-family: 'Limelight', cursive;
  animation: stretch 2.5s ease-in-out;
}
.helpImgStyles{
  width: 205px;
  height: 287px;
  background: url('../../assets/images/mucha.jpg') center/contain no-repeat;
}
@media screen and (min-width: 510px) {
  .topFlourish::before{
    content: '';
    display: block;
    position: absolute;
    top: -80px;
    width: 200px;
    height: 210px;
    background: url('../../assets/images/flourishes.png') 0 -3px no-repeat;
  }
  .topFlourish::after{
    content: '';
    display: block;
    position: absolute;
    top: -80px;
    right: 0;
    width: 200px;
    height: 210px;
    background: url('../../assets/images/flourishes.png') 0 -3px no-repeat;
    transform: rotateY(180deg);
  }
  .bottomFlourish::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -45px;
    transform: rotateY(180deg);
    left: 0;
    width: 200px;
    height: 197px;
    background: url('../../assets/images/flourishes.png') -3px -218px no-repeat;
    z-index: -1;
  }
  .bottomFlourish::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -45px;
    right: 0;
    width: 200px;
    height: 197px;
    background: url('../../assets/images/flourishes.png') -3px -218px no-repeat;
  }
}
@media screen and (min-width: 800px) {
  main{
    margin: 0 auto 7em;
    width: 90%;
    & > button{
      grid-row: 1 / 2;
    }
  }
  canvas{
    grid-row: 1 / 4;
  }
}
@media screen and (min-width: 1000px) {
  main{
    width: initial;
    grid-gap: 60px;
    margin: 0 0 5em;
  }
}
