<div>
  <h1 class="topFlourish">
    <span>.</span>DEMO
  </h1>
  <button *ngIf="gameOver" (click)="resetGame()" type="button" class="resetStylesBtn">
    Reset
  </button>
  <main>
    <canvas (click)="swapTiles($event.offsetX, $event.offsetY)" width="410" height="574">
      Your browser does not support canvas.
    </canvas>
    <button (click)="helpOpen = !helpOpen" type="button" class="helpBtn">
      <img alt="help" *ngIf="!helpOpen" src='../../assets/images/help.png'/>
      <img alt="hide" *ngIf="helpOpen" src='../../assets/images/hide.png'/>
    </button>
    <img class="helpImgStyles" *ngIf="helpOpen" src="../../assets/images/mucha.jpg" alt="Alfons Mucha - 1896 - Biscuits Champagne-Lefèvre-Utile.jpg"/>
  </main>
  <p class="bottomFlourish"></p>
</div>
