<form>
  <div>
    <fieldset id="basics">
      <legend>Basic Puzzle</legend>
      <label>Color for the blank tile: <input #color [ngModel]="color" (ngModelChange)="onColorChange(color.value)" name="color" type="color" value="#0f8000"></label>
      <label>Image Width in pixels: <input v-model.number="basic.imageWidth" class="num" form="form" placeholder="Enter a number" min="0" type="number"/></label>
      <label>Image Height in pixels: <input v-model.number="basic.imageHeight" class="num" form="form" placeholder="Enter a number" min="0" type="number"/></label>
      <p class="warning" v-show="imageDimensionsNotEntered">Please enter numbers for width and height.</p>
      <p id="puzz">Puzzle Dimensions:</p>

      <label>width
        <select #width name="width" [ngModel]="width" (ngModelChange)="onWidthChange(width.value)">
          <option *ngFor="let num of nums">{{num}}</option>
        </select>
      </label>

      <label>height
        <select #height name="height" [ngModel]="height" (ngModelChange)="onHeightChange(height.value)">
          <option *ngFor="let num of nums">{{num}}</option>
        </select>
      </label>


      <p class="warning" v-show="tilesAreNotSquare">For the tiles to be square, the ratios of pixels to tiles for width and height must be equal.&nbsp;&nbsp;Current ratios:&nbsp;&nbsp;Width: {{tileSize}}, Height: {{heightRatio}}</p>
      <p class="warning" v-show="hasRemainderPixels">The number of tiles must divide evenly into the size in pixels in the given dimension.&nbsp;&nbsp;Trim the image or use a different number of tiles.</p>
      <p>The canvas will have the same dimensions as the image you use.&nbsp;&nbsp;Edit your image as necessary such that each tile will be the same size with no remainder pixels.</p>
    </fieldset>
    <hr>
    <fieldset id="extras">
      <legend>Additional Features</legend>
      <label>Relative path to your image: <input v-model="additional.path" placeholder="Optional" type="text"/></label>
      <label>Add helper image: <input v-model="additional.helperImage" type="checkbox" name="help" value="image"/></label>
    </fieldset>
  </div>
</form>
