<form>
  <div>
    <fieldset id="basics">
      <legend>Basic Puzzle</legend>
      <label>Color for the blank tile: <input #colorbox [ngModel]="color" (ngModelChange)="onColorChange(colorbox.value)" name="color" type="color"></label>
      <label>Image Width in pixels: <input #widthInPixelsbox="ngModel" [ngModel]="widthInPixels" class="num" (ngModelChange)="onWidthPixelsChange(widthInPixelsbox.value)" name="widthInPixels" form="form" placeholder="Enter a number" min="1" type="number"/></label>
      <label>Image Height in pixels: <input #heightInPixelsbox="ngModel" [ngModel]="heightInPixels" class="num" (ngModelChange)="onHeightPixelsChange(heightInPixelsbox.value)" name="heightInPixels" form="form" placeholder="Enter a number" min="1" type="number"/></label>
      <p id="puzz">Puzzle Dimensions:</p>
      <label><span>.</span>Width:&nbsp;
        <select #widthInTilesbox name="widthInTiles" [ngModel]="widthInTiles" (ngModelChange)="onWidthTilesChange(widthInTilesbox.value)">
          <option *ngFor="let num of nums">{{num}}</option>
        </select>&nbsp;tiles
      </label>
      <label>Height:&nbsp;
        <select #heightInTilesbox name="heightInTiles" [ngModel]="heightInTiles" (ngModelChange)="onHeightTilesChange(heightInTilesbox.value)">
          <option *ngFor="let num of nums">{{num}}</option>
        </select>&nbsp;tiles
      </label>
      <p class="warning" *ngIf="tileWidth !== tileHeight">Tiles must be square:&nbsp;&nbsp;Tile Width: {{tileWidth}}, Tile Height: {{tileHeight}}</p>
      <p class="warning" *ngIf="hasLeftoverPxWide">The number of tiles wide must divide evenly into the width in pixels for there to not be any leftover.&nbsp;&nbsp;Please adjust the image or try a different number of tiles.</p>
      <p class="warning" *ngIf="hasLeftoverPxHigh">The number of tiles high must divide evenly into the height in pixels for there to not be any leftover.&nbsp;&nbsp;Please adjust the image or try a different number of tiles.</p>
      <p>The canvas will have the same dimensions as the image you use.&nbsp;&nbsp;Edit your image as necessary such that each tile will be the same size with no remainder pixels.</p>
    </fieldset>
    <hr>
    <fieldset id="extras">
      <legend>Additional Features</legend>
      <label>Relative path to your image: <input #pathbox name="path" [ngModel]="path" (ngModelChange)="onPathChange(pathbox.value)" placeholder="Optional" type="text"/></label>
      <label>Add helper image: <input #helperbox [ngModel]="helperImage" (ngModelChange)="onHelpImgChange(helperbox.checked)" type="checkbox" name="help"/></label>
    </fieldset>
  </div>
</form>
