h1{
  margin: 0 auto 1.5em;
  font-family: 'uppereastsideregular';
  font-size: 52px;
  letter-spacing: 6px;
  text-align: center;
  width: 95%;
  color: #3a3a3a;
  position: relative;
  margin-top: 2em;
}
span.spacer{
  color: transparent;
  font-size: 1px;
}
.newwindow{
  text-decoration: underline;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #e1e1e1;
  color: #700080;
  &:hover,
  &:focus{
    outline: none;
    color: #e1e1e1;
    background-color: #700080;
  }
}
p{
  height: 1px;
  width: 96.5%;
  position: relative;
  margin: 0 auto 70px;
}
h2{
  text-align: center;
  color: #3a3a3a;
  & > .newwindow{
    font-size: 20px;
  }
}
h3{
  margin: 0 auto 4em;
  text-align: center;
  color: #3a3a3a;
  max-width: 90%;
}
ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
li{
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  align-items: center;
  font-family: 'Poiret One', cursive;
  font-size: 26px;
  & div{
    margin-bottom: .75em;
  }
  & span{
    font-family: 'Poiret One', cursive;
    font-style: italic;
    margin: 0 .5em .5em;
    text-align: center;
    & a{
      color: blue;
      font-family: inherit;
      &:hover,
      &:focus{
        outline: none;
        background-color: blue;
        color: yellow;
      }
    }
  }
}
.biscuits{
  width: 173px;
  height: 239px;
  background: url('../../assets/images/biscuits.jpg') center/contain no-repeat;
}
.cal{
  width: 177px;
  height: 240px;
  background: url('../../assets/images/champenois.jpg') center/contain no-repeat;
}
.bouquet{
  width: 320px;
  height: 200px;
  background: url('../../assets/images/bouquet.jpg') center/contain no-repeat;
}
.four{
  width: 320px;
  height: 173px;
  background: url('../../assets/images/four_seasons.jpg') center/contain no-repeat;
}
.trap{
  width: 135px;
  height: 240px;
  background: url('../../assets/images/trappistine.jpg') center/contain no-repeat;
}
.champ{
  width: 164px;
  height: 240px;
  background: url('../../assets/images/champagne.jpg') center/contain no-repeat;
}
.fruit{
  width: 143px;
  height: 240px;
  background: url('../../assets/images/fruit.jpg') center/contain no-repeat;
}
.fall{
  width: 121px;
  height: 239px;
  background: url('../../assets/images/autumn.jpg') center/contain no-repeat;
}
@media screen and (min-width: 510px) {
  .topFlourish::before{
    content: '';
    display: block;
    position: absolute;
    top: -80px;
    width: 200px;
    height: 210px;
    background: url('../../assets/images/flourishes.png') 0 -3px no-repeat;
  }
  .topFlourish::after{
    content: '';
    display: block;
    position: absolute;
    top: -80px;
    right: 0;
    width: 200px;
    height: 210px;
    background: url('../../assets/images/flourishes.png') 0 -3px no-repeat;
    transform: rotateY(180deg);
  }
  .bottomFlourish::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -45px;
    transform: rotateY(180deg);
    left: 0;
    width: 200px;
    height: 197px;
    background: url('../../assets/images/flourishes.png') -3px -218px no-repeat;
  }
  .bottomFlourish::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -45px;
    right: 0;
    width: 200px;
    height: 197px;
    background: url('../../assets/images/flourishes.png') -3px -218px no-repeat;
  }
  ul{
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1067px) and (max-width: 1422px) {
  li:last-of-type{
    grid-column: 3 / 4;
  }
}
@media screen and (min-width: 1423px) {
  ul{
    grid-template-columns: repeat(4, 1fr);
  }
}
