@font-face {
  font-family: 'uppereastsideregular';
  src: url('./assets/uppereastside2.woff2') format('woff2'),
       url('./assets/uppereastside.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@supports not (place-items: center) {//edge
  html {
    overflow-x: hidden;
  }
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Mallanna', sans-serif;
}
body{
  background-color: #fbfbfb;
}
.newwindow::after{
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url('./assets/images/newwindow.png') 0 0 no-repeat;
}
p{
  margin: 0 1em;
  color: blue;
  text-align: center;
}
pre{
  color: #80000f;
  & code{
    font-family: monospace;
    white-space: pre-line;
  }
  & span{
    font-family: monospace;
  }
}
.greenBackground{
  background-color: #0f8000;
}
