main{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0 2em;
}
app-language-select{
  width: 100%;
  display: flex;
  justify-content: center;
}
