<app-header></app-header>
<main>
  <app-form
    (width_tiles)="handleWidthTiles($event)"
    (width_pixels)="handleWidthPixels($event)"
    (height_tiles)="handleHeightTiles($event)"
    (height_pixels)="handleHeightPixels($event)"
    [tileWidth]="tileWidth"
    [tileHeight]="tileHeight"
    [hasLeftoverPxWide]="hasLeftoverPxWide"
    [hasLeftoverPxHigh]="hasLeftoverPxHigh"
  ></app-form>
  <app-language-select [codeReady]="codeReady"></app-language-select>
  <app-code [width_tiles]="width_tiles" [width_pixels]="width_pixels" [height_tiles]="height_tiles" [height_pixels]="height_pixels" [codeReady]="codeReady"></app-code>
</main>
<app-footer></app-footer>
